<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PathFinder</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ basePath }}/css/index.css">
</head>
<body style="background-color: #f0f0e9">
<div class="container-fluid center-content text-center">
    <!-- Logo -->
    <img src="{{ basePath }}/media/newLogo.png" alt="PathFinder Logo" class="logo">

    {% if isPlayer and isModerator %}
        <!-- Profile Icon -->
        <a href="{{ basePath }}/account" class="position-absolute top-0 end-0 m-3">
            <img src="{{ basePath }}/media/iconProfile.png" alt="Profile Icon" class="icon" width="40">
        </a>
        <!-- New Game Button -->
        <a href="{{ basePath }}/gamemode">
            <button type="button" class="btn btnHome btn-secondary btn-lg btn-new-game mb-3">Nouvelle partie</button>
        </a>
        <!-- Graph Editing -->
        <a href="{{ basePath }}/settings">
            <button type="button" class="btn btnHome btn-secondary btn-lg btn-new-game">Edition des graphes</button>
        </a>
    {% elseif isPlayer %}
        <!-- Profile Icon -->
        <a href="{{ basePath }}/account" class="position-absolute top-0 end-0 m-3">
            <img src="{{ basePath }}/media/iconProfile.png" alt="Profile Icon" class="icon" width="40">
        </a>
        <!-- New Game Button -->
        <a href="{{ basePath }}/gamemode">
            <button type="button" class="btn btnHome btn-secondary btn-lg btn-new-game mb-3">Nouvelle partie</button>
        </a>
    {% else %}
        <!-- Username Input -->
        <div class="mb-3 w-50 mx-auto">
            <input type="text" class="form-control text-center" style="height: 39px;" id="username" placeholder="Enter your username">
        </div>
        <!-- New Game Button -->
        <a href="{{ basePath }}/gamemode">
            <button type="button" class="btn btnHome btn-secondary btn-lg btn-new-game">Nouvelle partie</button>
        </a>
        <!-- Login Button -->
        <a href="{{ basePath }}/login" class="btn btn-secondary btn-lg position-absolute top-0 end-0 m-3 d-flex justify-content-center align-items-center">
            CONNEXION
        </a>
    {% endif %}

    <!-- Settings Icon -->
    <a href="{{ basePath }}/settings" class="position-absolute bottom-0 end-0 m-3">
        <img src="{{ basePath }}/media/iconSettings.png" alt="Settings Icon" class="settings" width="40">
    </a>

    <!-- Trophy Icon -->
    <a href="{{ basePath }}/leaderboard" class="position-absolute bottom-0 start-0 m-3">
        <img src="{{ basePath }}/media/iconTrophy.png" alt="Trophy Icon" class="trophy" width="40">
    </a>
</div>
</body>
</html>
